.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
}

body {
    background-size: cover;
}

img {
    width: 200px;
    border-radius: 100px;
}

#songname {
    font-size: medium;
}

div {
    float: left;
}

button {
    margin-left: 300;
}

canvas {
    border: 5px solid white;
}